# Forzar que todos los archivos de texto usen LF
*.js text eol=lf
*.ts text eol=lf
*.json text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf

# Ignorar node_modules para evitar problemas
node_modules/ binary
